nav {
    box-shadow: 0 8px 6px -6px grey;
    background-color: rgba(255, 255, 255, .75);
    z-index: 999;
    a {
        font-weight: 600;
    }
    li {
        opacity: 0.8;
        &.active {
            color: #000;
            a {
                border-bottom: 1px #000 solid;
                padding-bottom: 0;
            }
        }
    }
}