.container {
    .left-side {
        position: relative;
        .back-text {
            position: absolute;
            top: -26%;
            left: -16%;
            span {
                font-size: 20rem;
                font-weight: 900;
                color: #f6f6f6;
                text-transform: uppercase;
            }
        }
        .funny-text {
            color: $mainTextColor;
            padding-top: 15%;
            .charWrap {
                font-size: 3rem;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        .idea-text {
            position: relative;
            top: 6%;
            span {
                font-size: 2rem;
                color: $ideaTextColor;
                b {
                    color: $ideaTextBold;
                }
            }
        }
    }
}