.container {
    .left-side {
        position: relative;
        .back-text {
            position: fixed;
            top: -0.6%;
            left: -2%;
            span {
                font-size: 20rem;
                font-weight: 900;
                color: $watermarkColor;
                text-transform: uppercase;
            }
        }
        .funny-text {
            color: $mainTextColor;
            padding-top: 15%;
            .charWrap {
                font-size: 3rem;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        .idea-text {
            position: relative;
            top: 6%;
            span {
                font-size: 2rem;
                color: $ideaTextColor;
                b {
                    color: $ideaTextBold;
                }
            }
        }
    }
    .right-side {
        .clock {
            position: absolute;
            width: 250px;
            height: 250px;
            background: none;
            border: 0.8em solid $watermarkColor;
            border-radius: 50%;
            left: calc(75% - 131px);
            top: calc(100% - 131px);
            z-index: 1;
            .center_clock {
                position: absolute;
                width: 20px;
                height: 20px;
                background: $watermarkColor;
                border-radius: 50%;
                left: calc(50% - 7.5px);
                top: calc(50% - 7.5px);
                z-index: 3;
            }
            .time {
                position: absolute;
                transform-origin: top;
                background: $watermarkColor;
                top: 50%;
                width: 0.6em;
                left: calc(50% - 6px);
                z-index: 2;
            }
            .hour {
                height: 30%;
            }
            .minute {
                height: 40%;
            }
            .second {
                height: 46%;
            }
        }
    }
}