.project-page {
    #multiscroll {
        min-height: 100vh;
        .ms-tableCell {
            display: flex;
            flex-direction: column;
        }
        .col-md-6 {
            padding: 0;
        }
        .ms-left {
            .interplastik {
                h1 {
                    font-size: 6rem;
                    font-weight: 800;
                    color: $interplastikClr;
                    text-transform: uppercase;
                }
                .description {
                    margin-left: 3em;
                }
            }
            .photographer {
                .text-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 2em;
                    margin-bottom: 2em;
                    h1 {
                        font-size: 5.1rem;
                        font-weight: 800;
                        color: $photographerClr;
                        text-transform: uppercase;
                        margin: 0 0;
                    }
                }
                .description {
                    margin-left: 3em;
                }
            }
        }
        .ms-right {
            .ms-tableCell {
                align-items: center;
                justify-content: center;
            }
            .interplastik {
                background-color: $interplastikBg;
                img {
                    min-width: 17em;
                    margin-bottom: 10em;
                }
            }
            .photographer {
                background-color: $photographerBg;
                img {
                    min-width: 17em;
                    margin-bottom: 10em;
                }
            }
        }
    }
}