$mainTextColor: #ebc944;
$ideaTextColor: #cd594a;
$ideaTextBold:#9a2617;
$watermarkColor: #f6f6f6;
$interplastikBg: #fecf00;
$interplastikClr: #fecf00;
$headerSpanClr:#ebc944;
$photographerBg:#dcdcdc;
$photographerClr:#dcdcdc;